# Core
python-dotenv
pymongo

# Google
google-cloud-aiplatform
google-genai
google-adk

# OpenAI
openai
litellm

# Utils
python-dateutil
requests

# API / HTTP
fastapi
httpx
tenacity
pydantic
email-validator

# Data
pandas
openpyxl

# Agent Observability
arize-phoenix-otel
openinference-instrumentation-google-adk